<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grid.css">

    <script src="https://kit.fontawesome.com/e45a62e93a.js" crossorigin="anonymous"></script>
</head>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
        <h2 class="imp-text">CSS-Companion</h2>
        <ul>
            <li><a  href="/index.html">Home</a></li>
            <li><a class="current-pg" href="/component.html">Components-docs</a></li>
            <li><a href="/">git</a></li>
        </ul>
    </nav>
<hr>
<div class="component-text imp-text">Get your Website Components Designed
</div>

<aside>

    <label for="hamburger" class="hamnav">&#9776;</label>
  <input type="checkbox" id="hamburger">
  
    <ul class="hamitems">
        
        <li><a href="/component.html">Avatar</a></li>
        <li><a  href="/alert.html">Alert</a></li>
        <li><a href="/badge.html">Badge</a></li>
        <li><a  href="/button.html">Button</a></li>
        <li><a href="/card.html">Card</a></li>
        <li><a  href="/image.html">Image</a></li>
        <li><a href="input.html">Input</a></li>
        <li><a href="text-utilities.html">Text Utilities</a></li>
        <li><a href="/navigation.html">Navigation</a></li>
        <li><a href="/modal.html">Modal</a></li>
        <li><a href="/rating.html">Rating</a></li>
        <li><a href="/toast.html">Toast</a></li>
        <li><a class="current-pg" href="/grid.html">Grids</a></li>
        <li><a href="/slider.html">Slider</a></li>
    </ul>
  </aside>
  
        <main>
            <h3 class="imp-text">Grids</h3>  
     <p>Grids are two-dimensional, which makes it super useful in stacking/rendering your components on your DOM/html-screen. Here we have demostrated some default grid components which are good to go in case you a pure beginner or a professional.</p>
 
<p class="bold">Two items in one grid</p>
<div class="grid-2">
    <div class="grid-items">Grid Item 1</div>
    <div class="grid-items">Grid Item 2</div>
</div>

<iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=bw&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14.5px&lh=155%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid-2%2522%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522grid-items%2522%253EGrid%2520Item%25201%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522grid-items%2522%253EGrid%2520Item%25202%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
  style="width: 419px; height: 152px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>

<p class="bold">Three elements in one grid</p>
<div class="grid-3">
    <div class="grid-items one text-align-center">Grid Item 1</div>
    <div class="grid-items text-align-center two">Grid Item 2</div>
    <div class="grid-items text-align-center three">Grid Item 3</div>
</div>


<iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=bw&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14.5px&lh=155%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid-3%2522%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522grid-items%2520one%2520text-align-center%2522%253EGrid%2520Item%25201%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522grid-items%2520text-align-center%2520two%2522%253EGrid%2520Item%25202%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522grid-items%2520text-align-center%2520three%2522%253EGrid%2520Item%25203%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
  style="width: 628px; height: 174px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </main>
        <footer>
            <h4>all rights reserved @ CSS-Companion</h4>
            <ul>
                <li><a href="https://www.linkedin.com/in/sneha-singh-58b246195/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/i-am-a-codegirl?tab=repositories"> <i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="https://instagram.com/a_productuive_blog?utm_medium=copy_link"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="mailto: iamacodegirl@gmail.com"><i class="fa fa-briefcase" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/snehasi16136808"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              </ul>
        </footer>

    </div>   
</body>
</html>