<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/image.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <script src="https://kit.fontawesome.com/e45a62e93a.js" crossorigin="anonymous"></script>
</head>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
        <h2 class="imp-text">CSS-Companion</h2>
        <ul>
            <li><a  href="../index.html">Home</a></li>
            <li><a class="current-pg" href="/component.html">Components-docs</a></li>
            <li><a href="/">git</a></li>
        </ul>
    </nav>
<hr>
<div class="component-text imp-text">Get your Website Components Designed
</div>

<aside>

    <label for="hamburger" class="hamnav">&#9776;</label>
  <input type="checkbox" id="hamburger">
  
    <ul class="hamitems">
        
        <li><a  href="/component.html">Avatar</a></li>
            <li><a  href="./alert.html">Alert</a></li>
            <li><a href="./badge.html">Badge</a></li>
            <li><a href="./button.html">Button</a></li>
            <li><a href="./card.html">Card</a></li>
            <li><a class="current-pg" href="./image.html">Image</a></li>
            <li><a href="./input.html">Input</a></li>
            <li><a href="./text-utilities.html">Text Utilities</a></li>
            <li><a href="./navigation.html">Navigation</a></li>
            <li><a href="./modal.html">Modal</a></li>
            <li><a href="./rating.html">Rating</a></li>
            <li><a href="./toast.html">Toast</a></li>
            <li><a href="./grid.html">Grids</a></li>
            <li><a href="./slider.html">Slider</a></li>
    </ul>
  </aside>

        <main>
        <p class="bold">Responsive Image</p>      

        <p>Want your images to adapt to the size of the screen and beuatifully fits into any screen size. Here is responsive image component on your rescue. You just need to use class = <span class="highlight">"image-responsive"</span> with your image tag to beautiful responsive images.</p>
        <div >
            <img class="image-responsive" src="../image/paris.jfif" alt="Paris" >
        </div>    
        
        <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=bw&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14.5px&lh=155%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%253Cdiv%2520%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522image-responsive%2522%2520src%253D%2522paris.jfif%2522%2520alt%253D%2522Paris%2522%2520%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E%2520%2520%2520"
  style="width: 654px; height: 130px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>

        <p class="bold">Round Image</p>
        <p>Round images are so common in web designs, here is a round image component which you can use to create perfect round images. Use class = <span class="highlight">"image-round image-responsive"</span>to make round images that are round and responsive.</p>      
        <div class="image">
            <img src="../image/paris.jfif" alt="Paris" class="image-round image-responsive">
        </div> 

        <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=bw&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14.5px&lh=155%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%253Cdiv%2520class%253D%2522image%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520src%253D%2522paris.jfif%2522%2520alt%253D%2522Paris%2522%2520class%253D%2522image-round%2520image-responsive%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E%2520"
  style="width: 750px; height: 130px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </main>
            
        <footer>
            <h4>all rights reserved @ CSS-Companion</h4>
            <ul>
                <li><a href="https://www.linkedin.com/in/sneha-singh-58b246195/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/i-am-a-codegirl?tab=repositories"> <i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="https://instagram.com/a_productuive_blog?utm_medium=copy_link"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="mailto: iamacodegirl@gmail.com"><i class="fa fa-briefcase" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/snehasi16136808"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              </ul>
        </footer>

    </div>
</body>
</html>
